# Introduktion til Python til Dataanalyse

Denne lektion gennemgår hvordan Python anvendes til dataanalyse. Der introduceres især til data frames i Python biblioteket "pandas".

- kort genopfriskning: hvad er Python?
- brug af Python i Jupyter Notebook


- inspicer data
- inspicer variable
  - value_counts
  - crosstab
- ØVELSE: 1 Indlæs og inspicer variabel 
- visualiser variable
  - med matplotlib (indbygget)
  - med seaborn
- ØVELSE 2: Visualiser 
- deskriptive mål
- groupby
  - deskriptive mål
  - value_counts
- ØVELSE 3: deskriptive mål og groupby
- groupby og visualisering
- ØVELSE 4: visualisering med groupby
- hvad består data frames af?
  - rækker = index
  - kolonner = series
- obs! index behøver ikke være 0
- subsetting
- subsetting med logiske værdier
- ØVELSE 5: Dan et subset
- nye variable
- ØVELSE 6: Dan ny variabel
- missingværdier
- rekodning af værdier (fx til at danne kategorisk)
- ØVELSE 7: Dan kategorisk variabel

# Hvad er Python?

Python er et programmeringssprog. At arbejde med Python kræver derfor, at man “taler” det rette sprog, når man gerne vil have Python til at gøre noget.

Python har ikke en brugerflade, så for at få Python til at gøre noget, skal vi “fortælle” Python, hvad vi gerne vil ved at skrive kommandoer i Python sproget.

## Interager med Python

Barberes Python ned til sine grundsten består det ikke af mere end en “interpreter” (fortolker). Alle programmeringssprog er bygget op om en fortolker, der “evaluerer” kommandoer. Inden for programmering vil evaluering sige, at sproget forsøger at forstå, hvad der står i en kommando.

Man kan arbejde med Python fortolkeren direkte igennem en terminal/kommandoprompt, men det gør det meget besværligt at arbejde med.

## Python i Jupyter Lab / Jupyter Notebook

I dette kursus bruger vi Jupyter Lab som vores program (IDE) til at arbejde med Python: https://jupyter.org/

Jupyter Lab/Notebook er opbygget omkring en såkaldt “notebook”. En notebook i Jupyter kombinerer Python kode med almindelig tekst (skrevet i “Markdown”). Jupyter Notebook egner sig særdeles godt, hvis man skal dokumentere sit kodearbejde undervejs, da man har mulighed for at skrive almindelig tekst, sætte billeder ind, lave tabeller osv. omkring sin kode.

# Fundamentale koncepter i Python

Som nævnt arbejder man med Python ved at skrive kommandoer i Python sproget. Kommandoer bliver “evalueret” af fortolkeren. Hvis koden forstås, bliver den kørt, og der gives et output, en ændring eller andet afhængigt af, hvad man beder om.

In [13]:
# math

## Objekter/varaible

Python er et objekt-orienteret programmeringssprog. Dette indebærer, at man kontinuerligt arbejder med forskellige objekter, som indeholder en eller anden for for information.

I Python kaldes objekter “variable”. Dette er ikke at forveksle med en variabel, som forstået i statistik som en egenskab ved en observation, da en variabel i Python blot er en beholder for en eller anden form for information.

In [12]:
# objekt

## Funktioner

En central del af det at arbejde med et programmeringssprog er at bruge funktioner. Funktioner tager et eller flere input (kaldet “argumenter”), foretager et eller andet med disse og returnerer (for det meste) et output.

Funktioner i Python har følgende format:

```
function(argument1, argument2, ...)
```

In [11]:
# funktion

## Metoder

Udover funktioner i Python findes der også “metoder”. Lig funktioner tager metoder også en form for input og returnerer et output.

I modsætning til funktioner er metoder bundet op på bestemte variabeltyper. Det vil sige at variablen skal være en bestemt type for, at metoden kan bruges. Metoder kaldes med `variabel.method(option1 = something)`. Tekstværdier (strings) har fx en række metoder tilknyttet til at ændre teksten:

In [14]:
# method

## Pakker

Pakker i Python er samlinger af funktioner, metoder, værdier osv. Selvom man kan meget i Python, så når man ikke særlig langt uden at importere pakker.

Funktioner, metoder, værdier osv. fra pakker kan nemt indlæses ved at importere dem. Så snart pakken er importeret, er pakkens indhold tilgængeligt.

In [15]:
# import

# ØVELSE 0: KAN PYTHON NOGET?

- Lav en notebook til denne lektion
- Lav en kodecelle
- Skriv kommandoen `print("hello there")` ind i cellen
- Kør cellen

# Data i Python

I dette første kapitel tages et kig på, hvad data er for en størrelse, og hvordan et struktureret datasæt ser ud i Python.

# Data og datasæt

I disse Python lektioner gennemgås, hvordan Python anvendes til dataanalyse, men hvad er data overhovedet for noget?

Som udgangspunkt arbejder vi med en meget bred forståelse af data: alle former for information om noget. Grunden til at der i dag er så meget snak om data, dataanalyse, maskinlæring osv., er fordi at stadig mere og mere information digitaliseres, hvorfor det kan gøres til genstand for analyser.

Navn, alder, uddannelse, indkomst, yndlingsfilm, mest aflyttede sange i 2020, antal gange rejst med bus 2 i Aalborg, køb i supermarkeder, størrelse på bolig, indbo, brug af el, varme og vand osv. Alle disse informationer er data og alt sammen kan indgå i analyser til at sige noget om en person eller, mere relevant, flere personer med lignende karakteristika.

Data som en mere eller mindre tilfældig strøm af tilfældig information er vanskelig at arbejde med. Data skal på en eller anden måde være i system for, at det kan analyseres - det gælder både maskinel/computationel analyse eller menneskelig analyse.

Når man taler om et datasæt, mener man typisk en eller anden form for afgrænset mængde data, der måske eller måske ikke er struktureret i en eller anden form.

## Struktureret og ustruktureret data

Man adskiller typisk mellem struktureret og ustruktureret data.

**Struktureret data**

*Struktureret data* er data, der på en eller anden måde er sat i system. Den klassiske repræsentation af struktureret data er i et tabulært format, hvor hver række indeholder en *observation* og hver kolonne indeholder en *variabel* (eller "feature", som det omtales inden for maskinlæring. En observation kan være en person, et land, et firma, et tidspunkt, en kommune osv., mens en variabel er en eller anden form for information om observationen.

Tabellen herunder er et eksempel på struktureret data:

|Navn |Alder |Beskæftigelse |
|-----|------|--------------|
|Lars | 34 | Slagter|
|Gertrud | 62 | Rådgiver|
|Henning | 43 | Revisor|
|Agnes | 38 | Tømrer|

Struktureret data er kendeteget ved at være sat i system sådan, at man umiddelbart kan analysere og spørge data om noget. I ovenstående tabel kan man fx meget hurtigt undersøge, hvor mange der er ældre end 40, hvem der har et fornavn der starter med "H" eller hvem der har beskæftigelse inden for byggeri.

**Ustruktureret data**

*Ustruktureret data* er data, som - kort sagt - ikke er sat i system. Hvis data ikke er struktureret, vil man typisk kalde det ustruktureret data. Tekst, billeder og video er typiske eksempler på ustruktureret data, da disse blot er rå information uden nogen måde at adskille en type information fra en anden. Mange moderne dataanalyseteknikker fokuserer på ustruktureret data, hvor man enten udvikler teknikker til at skabe overblik over ustruktureret data eller forsøger at give data en form for struktur.

Nedenstående er et eksempel på ustruktureret data:

```
["Hvorfor går man ikke i dialog med ⁦@DRC_dk⁩ i stedet for at opsige kontrakten uden varsel. Er det kun for at føre stærk mand politik? DRC yder en fremragende indsats på baggrund af den opgave de har fået #dkpol https://jyllands-posten.dk/indland/ECE12248020/tesfaye-forsoeger-sig-med-en-ny-loesning-paa-alle-udlaendingeministres-problem/ …",
"Alle tæller ❤️ https://twitter.com/cekicozlem/status/1276034922587832326 …",
"Det er så godt arbejde💚 https://twitter.com/fannybroholm/status/1275360842847080449 …",
"Tilfreds med den klima og energiaftale, der er lavet nu. Det er den første delaftale om at nå 70% reduktion i 2030. Særligt glad for at den indeholder principaftale om en CO2 afgiftsreform #dkpol #dkgreen pic.twitter.com/3slrMxLT5B",
"Godt første skridt for den fri natur #dkpol #dkgreen ⁦@alternativet_⁩ https://www.altinget.dk/miljoe/artikel/wermelin-lander-aftale-om-de-foerste-naturnationalparker …",
"Spændende udmelding. ⁦@alternativet_⁩ ønsker også en grøn   Klimaafgift, hvor udgangspunktet er at forureneren betaler #dkgreen #dkpol https://www.altinget.dk/artikel/venstre-og-radikale-laegger-faelles-pres-paa-regeringen-vil-have-ensartet-co2-afgift?SNSubscribed=true&ref=newsletter&refid=fredag-middag-190620&utm_campaign=altingetdk%20Altinget.dk&utm_medium%09=e-mail&utm_source=nyhedsbrev …",
"Så vigtigt at KL tager ansvar for den proces #dkpol #dkgreen https://www.altinget.dk/miljoe/artikel/professor-om-affaldsaftale-kl-og-kommunerne-skal-gribe-chancen-for-at-loese-tingene-selv …",
"Hurra - stor dag for Danmark💚👏🏼👏🏼 https://twitter.com/alternativet_/status/1273555055476723713 …",
"Til klimaforhandlinger i Finansministeriet. Vi sidder og diskuterer rammerne - de næste dage bliver intensive #dkpol #dkgreen @alternativet_ @ Christiansborg Palace  https://www.instagram.com/p/CBi3d0oB9lB/?igshid=ii78cjnx2n72 …",
"Aftale om mindre affald, mindre forbrænding og mere genbrug - god dag for klimaet og miljøet. 1. skridt i en stor miljøpakke #dkpol ⁦@alternativet_⁩ https://www.dr.dk/nyheder/indland/live-regeringen-praesenterer-ny-aftale-om-affald …"]
```

I ovenstående kan man stadig overføre ideen om observationer (i dette tilfælde tweets fra danske politikere), men der er ingen variable eller features givet på forhånd. Der er derfor ingen umiddelbar struktur at gøre brug af for at foretage sig analyser.

## Fra data til dataanalyse

Uanset om data er struktureret eller ustruktureret, er de næsten aldrig klar til at analysere med det samme. Data skal næsten altid tilpasses den analyse, som man ønsker at foretage og de spørgsmål, som man ønsker at få svar på med sin analyse. 

For struktureret data indebærer dette at få identificeret de relevante dele af sine data (er det fx alle observationer, der er relevante?) samt undersøge og rekode variable sådan, at de meningsfuldt kan bruges i sin analyse.

For ustruktureret data indebærer det på en eller anden måde at få sat system i eller skabt overblik over data.

Ofte vil man også arbejde med data fra flere kilder, hvorfor en del forarbejde også kan gå med at få data kombineret i et samlet datasæt.

---
## VIDENSCHECK

*Hvilke af nedenstående er eksempler på datasæt?:*

* Navnet på butikschefen i det lokale supermarked
* Alle værker af H.C. Andersen
* En oversigt over medlemmer af DFØJ med information om navn, fødselsår, arbejdssted og uddannelse
* Filmen "Vampire's Kiss" med Nicolas Cage fra 1988
* Et kontoudtog
* Alle film med Nicolas Cage

# Introduktion til pandas

Pakken `pandas` (https://pandas.pydata.org/) er et Python bibliotek til datahåndtering og dataanalyse. Pandas egner sig særligt til data i tabeller struktureret i rækker og kolonner. En datatabel kaldes inden for pandas en "DataFrame"; et bestemt Python objekt specifikt til at lagre og bearbejde data i tabeller.

Denne lektion gennemgår diverse basale funktioner til at indlæse, udforske og håndtere en pandas DataFrame. Se også den officielle dokumentation for flere guides, introduktioner og beskrivelser til at arbejde med pandas: https://pandas.pydata.org/docs/

## Indlæs data med `pandas`

`pandas` pakken indeholder funktioner til at indlæse data i forskellige formater; herunder CSV, JSON, Excel, Stata, SAS osv.

I det nedenstående indlæses pandas biblioteket, hvorefter datasættet "ESS2014DK_subset.csv" indlæses. Biblioteket `numpy` indlæses også, da det indeholder en række brugbare funktioner til at foretage beregninger på pandas dataframes:

In [2]:
import pandas as pd

#ess2018 = pd.read_csv('')

*Bemærk importkonventionerne for `pandas`. `pandas` typisk som `pd`.*

### Om datasættet
Datasættet, som indlæses her, er et uddrag af datasættet fra European Social Survey (ESS) 2014. ESS er en europæisk surveyundersøgelse, der gentages hvert andet år. Surveyet behandler spørgsmål om folks helbred, beskæftigelse, politiske holdninger, tillid osv. I dette uddrag er der kun inkluderet de danske respondenter og et mindre udpluk variable.

Subsettet af ESS 2014 indeholder følgende kolonner:
- `idno`: Personens id-numre/respondentnøgle
- `ppltrst`: Personens vurdering på en skala fra 0-10 af, hvor meget de stoler på andre mennesker
- `happy`: Personens vurdering på en skala fra 0-10 af, hvor glade de føler sig
- `health`: Personens vurdering af eget helbred fra "Very bad" til "Very good"
- `cgtsday`: Antal cigaretter personen ryger om dagen
- `alcfreq`: Hvor ofte personen drikker alkohol
- `height`: Personens højde i centimeter
- `weight`: Personens vægt i kilo
- `gndr`: Personens køn (mand/kvinde)
- `yrbrn`: Personens fødselsår

## Inspicer data med `pandas`

Datasættet er nu indlæst som et dataframe objekt i Python, som man kan interagere med. 

Metoden `.head()` printer de første fem rækker af datasættet:

In [4]:
#ess2018.head()

Dataframes er et tabulært dataformat. Når en fil indlæses som en pandas dataframe, skal filen derfor være i et format, der kan konverteres til tabelformat (data i rækker og kolonner).

I dette datasæt udgør observationerne (rækkerne) enkeltpersoner, som har besvaret spørgeskemaet. De enkelte kolonner indeholder oplysninger om de enkelte personer. 
Af ovenstående print af de første fem række kan man fx læse, at personen i række 4 (rækkeindeks 3) er en kvinde født i 1958, som er 162 cm høj.

**NaN?**

Som det ses af datasættet fremgår værdien `NaN` flere gange i datasættet (særligt under kolonnen `cgtsday`). 

`NaN` angiver missingværdi. En missingværdi er en ikke-gyldig værdi; fx hvis en person ikke svarer, informationen ikke har været muligt at skaffe eller andet.

### Kolonner/variable 

En dataframe består af en samling af kolonner. En kolonne i en dataframe kaldes en `series`.

Navnene på kolonnerne, som en dataframe indeholder, kan ses af attributen `.columns`:

In [5]:
#ess2018.columns

## Inspicer variable

En enkelt variabel/kolonne i datasættet referes til med `[]`:

In [6]:
#ess2018[''].head()

Vi kan bruge en metode som `.value_counts()` til at optælle værdierne inden for én kolonne:

In [1]:
#ess2018[''].value_counts()

Med funktionen `pd.crosstab()` kan vi opsummere over to variable:

# ØVELSE 1: INDLÆS DATA OG INSPICER VARIABLE

1. Indlæs datasættet "", hvis du ikke allerede har gjort det.
2. Tjek at datasættet er indlæst korrekt med `.head()`
3. Brug `.value_counts()` til at finde ud af, hvor mange af respondenterne...

# Visualisering med `pandas`

`pandas` dataframes har en række indbyggede metoder til at plotte enkelte variable. 

Vi kan fx bruge metoden `.plot.hist()` til at lave et histogram:

In [2]:
# ess2014['height'].plot.hist(bins = 30)

`.plot.box()` kan bruges til boxplots.

In [3]:
#ess2014['height'].plot.box()

`.plot.bar()` kan bruges til kategoriske variable for at lave søjlediagrammer:

In [4]:
#ess2014['height'].plot.bar()

Alternativt en pie-chart med `.plot.pie()`. Denne kan med fordel kombineres med `.value_counts()`:

In [5]:
#ess2014['health_3cats'].value_counts().plot.pie()

## Visualisering med `seaborn` 

Der findes forskellige pakker til at lave visualisering i Python. En meget populær pakke er `seaborn`: https://seaborn.pydata.org/

Med `seaborn` kan man relativt nemt lave visualiseringer over flere variable. 

I `seaborn` dannes plots ved først at refere specifikt til den plotting funtkion, som man vil bruge, og derefter specificere data.

Nedenstående linje danner et scatterplot for X og Y. Ved `seaborn` plottingfunktioner specificeres, hvilke værdier der skal udgøre x-aksen og hvilke, der skal udgøre y-aksen. `seaborn` forventer typisk series, så man kan specificere series direkte i funktionerne. Dog kan man også, som i nedenstående, specificere kolonne/variabelnavne og til sidst specificere data med argumentet `data = `:

In [7]:
#sns.scatterplot(data = ess2014, x = 'height', y = 'weight')

Et scatterplot danner en prik for hver observations placering på to variable. Plottet egner sig derfor særdeles godt til at udforske umiddelbare sammenhænge (om en variabel er beslægtet med en anden).

# ØVELSE 2: VISUALISERING AF DATA

1. Dan et histogram over variablen ""
2. Dan et søjlediagram over variablen ""

# Deskriptive mål

Én måde at udforske et datasæt er ved at se nærmere på forskellige deskriptive mål for variable i datasættet.

Metoden `.describe()` danner deskriptive mål for alle (kompatible) variable i datasættet:

In [18]:
#ess2014.describe()

                idno     cgtsday      height      weight        yrbrn
count     751.000000  166.000000  749.000000  740.000000   751.000000
mean   935322.402130   11.397590  174.158879   76.178108  1966.324900
std      8431.191754    7.994604    9.656126   15.597381    18.982895
min    921034.000000    0.000000  148.000000   43.000000  1914.000000
25%    928073.000000    5.000000  167.000000   65.000000  1952.000000
50%    935251.000000   10.000000  174.000000   74.500000  1966.000000
75%    942260.000000   17.750000  181.000000   85.000000  1982.000000
max    950508.000000   40.000000  203.000000  135.000000  1999.000000

Metoden fungerer også på enkeltvariable:

In [8]:
#ess2014['weight'].describe()

`.describe()` danner følgende mål:
- `count`: Antal svar ekskl. missing
- `mean`: Middelværdien
- `std`: Standardafvigelsen
- `min`: Minimumværdien
- `25%`: 1. kvartil
- `50%`: 2. kvartil
- `75%`: 3. kvartil
- `max`: Maksimumværdien

Der knytter sig også en række metoder til at danne de enkelte deskriptive mål.

Herunder printes fx middelværdien, standardafvigelsen, minimums- og maksimumsværdien for variablen `weight`:

In [22]:
print(ess2014['weight'].mean())
print(ess2014['weight'].std())
print(ess2014['weight'].min())
print(ess2014['weight'].max())

76.17810810810812
15.597381262076514
43.0
135.0

Ovenstående værdier fortæller, at `weight` indeholder værdier fra 38.0 til 137.0 med en middelværdi på 75.86 og en standardafvigelse på 15.59 (middelværdien af de afstande, som hver observation afviger fra middelværdien).

## Deskriptive mål og kategoriske variable

Sammenlignes outputtet fra `.describe()` med indholdet af datasættet ses, at der ikke udregnes deskriptive mål for alle variable. 

Når `.describe()` bruges på et hel dataframe, udregnes kun mål for numeriske variabeltyper; altså variable, der kun består af tal.

Metoden kan dog også bruges på en kategorisk variabel som `ppltrst`:

In [24]:
ess2014['ppltrst'].describe()

count     749
unique     11
top         8
freq      230
Name: ppltrst, dtype: object

**Hvornår er en variabel kategorisk?**

Det kan måske give anledning til undren, hvorfor der fx ikke kan beregnes en middelværdi af `ppltrst`, da variablen umiddelbart indeholder tal:

In [25]:
ess2014['ppltrst'].head()

0                             4
1    Most people can be trusted
2                             5
3                             8
4                             4
Name: ppltrst, dtype: object

Ved et nærmere kig viser det sig dog, at variablen også indeholder tekstværdier.

`.unique()` returnerer de unikke værdier i variablen:

In [26]:
ess2014['ppltrst'].unique()

array(['4', 'Most people can be trusted', '5', '8', '7', '9', '2', '6',
       '3', "You can't be too careful", '1', nan], dtype=object)

Af ovenstående ses, at variablen indeholder tekstværdierne "Most people can be trusted" (svarende til 10 på skalaen) og "You can't be too careful" (svarende til 0 på skalaen).

Hvis der skal udregnes middelværdi på denne variablen, skal værdierne først konverteres om til numeriske værdier (mere om dette senere).

## Opsummeringer på gruppeniveau: Groupby

En effektiv måde at udforske og udføre indledende deskriptive analyser af sine data, er ved at undersøge de grupperinger, som data indeholder.

Her skal vi se på nogen forskellige måder, hvor der kan udregnes deskriptive mål og dannes visualiseringer for grupper i data

Vi starter med at indlæse de nødvendige pakker og data. Aldersvariablen (som også blev tilføjet i lektion 3) tilføjes igen:

## Brug af split-apply til at opsummere data

Metoden `.groupby()` grupperer datasæt efter de givne variable:

In [ ]:
grouped_df = df.groupby(['gndr'])

Selve objektet, som bliver dannet, indeholder ikke information, der bare kan kaldes frem direkte:

In [ ]:
grouped_df

Dog kan vi danne de samme deskriptive mål, som vi kan for hele datasættet, men hvor de opsummeres på gruppeniveauet:

In [ ]:
grouped_df.mean()

Det samme kan gøres for enkeltvariable:

In [ ]:
grouped_df['height'].mean()

En lang række metoder kan bruges på grupperede data. Se dem alle her: https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html.

- `mean()`: Middelværdi for grupperne

- `size()`: Størrelse af grupperne

- `count()`: Tællinger inden for grupperne

- `describe()`: Deskriptive mål inden for grupperne

- `min()`: Minimum for grupperne

- `max()`: Maximum for grupperne

Metoden `value_counts()` kan bruges til at lave optællinger af kategoriske inden for grupperne.

Herunder laves optælling for variablen `health` fordelt på køn:

In [ ]:
grouped_df['health'].value_counts()

# ØVELSE 3: Deskriptive mål

1. Brug `.describe()` eller passende numpy kommandoer til at finde ud af følgende:

- Hvor gammel er den yngste person i datasættet?
- Hvor gammel er den ældste person i datasættet?
- Hvad er gennemsnitsalderen i datasættet?

- *Husk at datasættet er fra 2018.*


2. Brug `.groupby()` til at finde ud af om...

## Visualisering af grupperinger

Grupperede data og optællinger af grupperede data kan plottes direkte:

In [ ]:
grouped_df['health'].value_counts().plot.bar()

Ovenstående plot er ikke så kønt. Fx kunne det give mening at farvelægge efter værdierne i `health`. Det kan gøres ved at bruge metoden `unstack()` og så danne plottet:

In [ ]:
grouped_df['health'].value_counts().unstack('health').plot.bar()

### Sidenote: Hvad gør `unstack`?

`unstack()` er en metode, der bruges til såkaldt "wide"-konvertering.

Hvis vi først ser på `value_counts()`, gives tællinger i long format; altså hvor hver række er en optælling, og optællingerne differentieres med en kolonne (`health`).

In [ ]:
grouped_df['health'].value_counts()

`unstack()` tager værdierne fra `health` og laver dem til kolonner. På den måde dannes der kun én række per gruppe, hvor værdier adskilles i kolonnerne (wide-format):

In [ ]:
grouped_df['health'].value_counts().unstack('health')

Når sådan en tabel plottes med `.plot.bar()` farvelægges der efter kolonneværdierne automatisk.

In [ ]:
grouped_df['health'].value_counts().unstack('health').plot.bar()

# ØVELSE 4: VISUALISER GRUPPERINGER

Dan en visualisering, der viser...

# Hvordan er dataframes opbygget?

Lad os se nærmere på, hvordan en dataframe er opbygget.

Kort sagt består dataframes af rækker (index) og kolonner (series).

## Kolonner (`Series`) i en dataframe

En pandas `Series` er en en-dimensionel datastruktur; svarende til en kolonne eller en variabel.

En enkelt `Series` kan lagres som sit eget objekt. Hermed kan vi se, at typen ændrer sig fra "dataframe" til "series".

### Series og metoder

Bemærk, at mange af de metoder, som vi har brugt indtil videre, bliver kaldt på en enkelt variabel (`Series`), og ikke et helt datasæt.

Husk at Python metoder er relateret til bestemte objekter. Når man bruger fx metoder, så vær opmærksom på, om I forsøger at gøre det på et helt datasæt eller en enkelt `Series`.

### Series og Python lister

`Series` er på mange måder kompatible med Python lister. Python lister er en grundlæggende datastruktur, som kan være brugbar i mange sammenhænge.

Man kan altid tvinge en `Series` om til at være en liste med funktionen `list()`:

In [ ]:
list()

Omvendt kan man også tvinge en liste om til at være en `Series` med `pd.Series`.

In [ ]:
pd.Series()

## Index i en dataframe

Et "indeks" er en generel betegnelse i Python for værdiers ID, så at sige.

I en dataframe bruges index til at referere til rækkenavnene. Disse kan ses af `.index`:

In [9]:
#ess2018.index.head()

Index i Python starter ved 0. Den første række i en dataframe har derfor index 0.

Et index behøver dog ikke være rækkenumre, da man altid kan ændre index-værdierne.

### Index i groupby

Husk at vi ofte arbejder med mange objekter på en gang i Python. Når vi fx bruger `.groupby()` får vi returneret et groupby objekt, uden at ændre på det oprindelige data.

Når så vi bruger en metode som fx `.value_counts` på et groupby objekt, så får vi en ny datastruktur returneret. Denne ligner en dataframe, men faktisk er det blot en enkelt kolonne (`Series`) med et index, der refererer til de forskellige grupperinger.

### Index i en `Series`

I en enkelt `Series`, kan man refere til et bestemt index med `[]` (ligesom ved en Python liste):

In [10]:
#[]

# Subsetting

"Subsetting" vil sige at udvælge specifikke dele af data.

Man subsetter pandas med metoderne `.loc()` og `.iloc()`. `.loc()` bruges til at subsette ud fra række- og kolonnenavne, mens `.iloc()` bruges til at subsette ud fra række- og kolnneindeks.

Format for subsetting: `data.loc[rækker, kolonner]`

Selekter bestemte rækker:

In [37]:
ess2014.loc[2:10, :]

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn
2,939019,5,8,Good,3.0,Once a week,182.0,90.0,Male,1980
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946
4,925410,4,8,Bad,NaN,Several times a week,156.0,60.0,Female,1969
5,928947,5,Extremely happy,Good,20.0,Every day,167.0,75.0,Male,1950
6,947921,7,8,Good,NaN,Less than once a month,169.0,63.0,Female,1980
7,926953,Most people can be trusted,8,Good,NaN,Once a month,184.0,73.0,Male,1940
8,943553,8,8,Good,NaN,Once a week,182.0,86.0,Male,1971
9,936299,8,9,Very good,8.0,Several times a week,172.0,73.0,Female,1965
10,943317,9,9,Very good,NaN,Once a month,178.0,72.0,Male,1989

Selekter bestemte kolonner (specificeres som en liste):

In [38]:
ess2014.loc[:, ['gndr', 'alcfreq']].head()

     gndr               alcfreq
0  Female                 Never
1  Female  Several times a week
2    Male           Once a week
3    Male           Once a week
4  Female  Several times a week

Selekter bestemte rækker og kolonner:

In [39]:
ess2014.loc[2:10, ['gndr', 'alcfreq']]

      gndr                 alcfreq
2     Male             Once a week
3     Male             Once a week
4   Female    Several times a week
5     Male               Every day
6   Female  Less than once a month
7     Male            Once a month
8     Male             Once a week
9   Female    Several times a week
10    Male            Once a month

Selekter ud fra kolonneindeks:

In [43]:
ess2014.iloc[2:10, [8, 5]]

     gndr                 alcfreq
2    Male             Once a week
3    Male             Once a week
4  Female    Several times a week
5    Male               Every day
6  Female  Less than once a month
7    Male            Once a month
8    Male             Once a week
9  Female    Several times a week

Bemærk at datasæt ikke ændres. Hvis subset skal gemmes, skal det gemmes i et nyt objekt (ny dataframe):

In [44]:
ess2014_subset = ess2014.loc[2:10, ['gndr', 'alcfreq']]

ess2014_subset.head()

     gndr                 alcfreq
2    Male             Once a week
3    Male             Once a week
4  Female    Several times a week
5    Male               Every day
6  Female  Less than once a month

## Subsetting med booleans (logiske værdier)

I stedet for at specificere indeksnumrene, kan man i stedet specificere betingelser:

In [45]:
ess2014.loc[ess2014['height'] > 180, :].head()

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn
2,939019,5,8,Good,3.0,Once a week,182.0,90.0,Male,1980
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946
7,926953,Most people can be trusted,8,Good,NaN,Once a month,184.0,73.0,Male,1940
8,943553,8,8,Good,NaN,Once a week,182.0,86.0,Male,1971
14,947086,8,7,Very good,NaN,Once a week,186.0,84.0,Male,1964

In [46]:
ess2014.loc[(ess2014['height'] > 180) & (ess2014['gndr'] == 'Female'), :].head()

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn
219,931833,8,9,Very good,NaN,Once a week,184.0,70.0,Female,1993
263,948529,8,9,Very good,NaN,2-3 times a month,181.0,78.0,Female,1972
581,941739,9,9,Good,NaN,Several times a week,184.0,62.0,Female,1984
616,927771,8,Extremely happy,Good,NaN,Once a month,181.0,63.0,Female,1984
651,948294,Most people can be trusted,Extremely happy,Very good,NaN,Less than once a month,182.0,117.0,Female,1968

# ØVELSE 5: SUBSETTING

*Dan et subet bestående af ...*

# Nye variable

Ofte har man brug for at tilføje oplysninger til et datasæt i form af nye variable.

Man danner en ny variabel blot ved at referere til et kolonnenavn, som endnu ikke er brugt.

I nedenstående dannes ...:

In [48]:
ess2014['height_m'] = ess2014['height'] / 100

ess2014.head()

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn,height_m
0,921490,4,Extremely happy,Very good,NaN,Never,167.0,62.0,Female,1965,1.67
1,938348,Most people can be trusted,7,Good,NaN,Several times a week,168.0,70.0,Female,1973,1.68
2,939019,5,8,Good,3.0,Once a week,182.0,90.0,Male,1980,1.82
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946,1.88
4,925410,4,8,Bad,NaN,Several times a week,156.0,60.0,Female,1969,1.56

## Rekodning

Ofte har man brug for at rekode variable.

Variable rekodes ved at overskrive værdier i en eksisterende variabel.

Det er god praksis ikke at rekode de oprindelige variable i datasættet, så man vil i stedet lave en kopi af variablen og så rekode den i stedet.

Hvis man fx vil rekode en kontinuerlig variabel til kategorisk, kan man gøre brug af booleans. 

I nedenstående inddeles personer i datasættet i tre højde kategorier baseret på, om de har en højde under 1. kvartil ("short"), over 3. kvartil ("tall") eller midt imellem ("medium").

In [50]:
quart1 = ess2014['height'].quantile(0.25)
quart3 = ess2014['height'].quantile(0.75)

ess2014['height_cat'] = np.nan # Danner en "tom" variabel bestående af missing

ess2014.loc[ess2014['height'] <= quart1, 'height_cat'] = "short"
ess2014.loc[(ess2014['height'] > quart1) & (ess2014['height'] < quart3), 'height_cat'] = "medium"
ess2014.loc[ess2014['height'] >= quart3, 'height_cat'] = "tall"

ess2014.head(10)

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn,height_m,age,height_cat
0,921490,4,Extremely happy,Very good,NaN,Never,167.0,62.0,Female,1965,1.67,49,short
1,938348,Most people can be trusted,7,Good,NaN,Several times a week,168.0,70.0,Female,1973,1.68,41,medium
2,939019,5,8,Good,3.0,Once a week,182.0,90.0,Male,1980,1.82,34,tall
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946,1.88,68,tall
4,925410,4,8,Bad,NaN,Several times a week,156.0,60.0,Female,1969,1.56,45,short
5,928947,5,Extremely happy,Good,20.0,Every day,167.0,75.0,Male,1950,1.67,64,short
6,947921,7,8,Good,NaN,Less than once a month,169.0,63.0,Female,1980,1.69,34,medium
7,926953,Most people can be trusted,8,Good,NaN,Once a month,184.0,73.0,Male,1940,1.84,74,tall
8,943553,8,8,Good,NaN,Once a week,182.0,86.0,Male,1971,1.82,43,tall
9,936299,8,9,Very good,8.0,Several times a week,172.0,73.0,Female,1965,1.72,49,medium

Alternativt, hvis der bare skal deles i tre lige store grupper:

In [51]:
ess2014['height_cat'] = pd.cut(ess2014['height'], 3, labels = ["short", "medium", "tall"])

ess2014.head(10)

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn,height_m,age,height_cat
0,921490,4,Extremely happy,Very good,NaN,Never,167.0,62.0,Female,1965,1.67,49,medium
1,938348,Most people can be trusted,7,Good,NaN,Several times a week,168.0,70.0,Female,1973,1.68,41,medium
2,939019,5,8,Good,3.0,Once a week,182.0,90.0,Male,1980,1.82,34,medium
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946,1.88,68,tall
4,925410,4,8,Bad,NaN,Several times a week,156.0,60.0,Female,1969,1.56,45,short
5,928947,5,Extremely happy,Good,20.0,Every day,167.0,75.0,Male,1950,1.67,64,medium
6,947921,7,8,Good,NaN,Less than once a month,169.0,63.0,Female,1980,1.69,34,medium
7,926953,Most people can be trusted,8,Good,NaN,Once a month,184.0,73.0,Male,1940,1.84,74,medium
8,943553,8,8,Good,NaN,Once a week,182.0,86.0,Male,1971,1.82,43,medium
9,936299,8,9,Very good,8.0,Several times a week,172.0,73.0,Female,1965,1.72,49,medium

## Missingværdier

Missing værdier er angivet med `NaN`. Man kan undersøge, om en variabel indeholder missing, ved at bruge metoden `isnull()`:

In [52]:
ess2014['cgtsday'].isnull().head()

0     True
1     True
2    False
3     True
4     True
Name: cgtsday, dtype: bool

Denne kan også bruges i `.loc[]`:

In [53]:
ess2014.loc[ess2014['cgtsday'].isnull(), :].head()

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn,height_m,age,height_cat
0,921490,4,Extremely happy,Very good,NaN,Never,167.0,62.0,Female,1965,1.67,49,medium
1,938348,Most people can be trusted,7,Good,NaN,Several times a week,168.0,70.0,Female,1973,1.68,41,medium
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946,1.88,68,tall
4,925410,4,8,Bad,NaN,Several times a week,156.0,60.0,Female,1969,1.56,45,short
6,947921,7,8,Good,NaN,Less than once a month,169.0,63.0,Female,1980,1.69,34,medium

---
# ØVELSE 6: NYE VARIABLE OG REKODNING

*Tilføj en aldersvariabel til ESS2014DK datasættet (husk at data er fra 2018)*
 
*Dan en variabel, der angiver...*