# Introduktion til Python til Dataanalyse

Denne lektion gennemg√•r hvordan Python anvendes til dataanalyse. Der introduceres is√¶r til data frames i Python biblioteket "pandas".

- kort genopfriskning: hvad er Python?
- brug af Python i Jupyter Notebook


- inspicer data
- inspicer variable
  - value_counts
  - crosstab
- √òVELSE: 1 Indl√¶s og inspicer variabel 
- visualiser variable
  - med matplotlib (indbygget)
  - med seaborn
- √òVELSE 2: Visualiser 
- deskriptive m√•l
- groupby
  - deskriptive m√•l
  - value_counts
- √òVELSE 3: deskriptive m√•l og groupby
- groupby og visualisering
- √òVELSE 4: visualisering med groupby
- hvad best√•r data frames af?
  - r√¶kker = index
  - kolonner = series
- obs! index beh√∏ver ikke v√¶re 0
- subsetting
- subsetting med logiske v√¶rdier
- √òVELSE 5: Dan et subset
- nye variable
- √òVELSE 6: Dan ny variabel
- missingv√¶rdier
- rekodning af v√¶rdier (fx til at danne kategorisk)
- √òVELSE 7: Dan kategorisk variabel

# Hvad er Python?

Python er et programmeringssprog. At arbejde med Python kr√¶ver derfor, at man ‚Äútaler‚Äù det rette sprog, n√•r man gerne vil have Python til at g√∏re noget.

Python har ikke en brugerflade, s√• for at f√• Python til at g√∏re noget, skal vi ‚Äúfort√¶lle‚Äù Python, hvad vi gerne vil ved at skrive kommandoer i Python sproget.

## Interager med Python

Barberes Python ned til sine grundsten best√•r det ikke af mere end en ‚Äúinterpreter‚Äù (fortolker). Alle programmeringssprog er bygget op om en fortolker, der ‚Äúevaluerer‚Äù kommandoer. Inden for programmering vil evaluering sige, at sproget fors√∏ger at forst√•, hvad der st√•r i en kommando.

Man kan arbejde med Python fortolkeren direkte igennem en terminal/kommandoprompt, men det g√∏r det meget besv√¶rligt at arbejde med.

## Python i Jupyter Lab / Jupyter Notebook

I dette kursus bruger vi Jupyter Lab som vores program (IDE) til at arbejde med Python: https://jupyter.org/

Jupyter Lab/Notebook er opbygget omkring en s√•kaldt ‚Äúnotebook‚Äù. En notebook i Jupyter kombinerer Python kode med almindelig tekst (skrevet i ‚ÄúMarkdown‚Äù). Jupyter Notebook egner sig s√¶rdeles godt, hvis man skal dokumentere sit kodearbejde undervejs, da man har mulighed for at skrive almindelig tekst, s√¶tte billeder ind, lave tabeller osv. omkring sin kode.

# Fundamentale koncepter i Python

Som n√¶vnt arbejder man med Python ved at skrive kommandoer i Python sproget. Kommandoer bliver ‚Äúevalueret‚Äù af fortolkeren. Hvis koden forst√•s, bliver den k√∏rt, og der gives et output, en √¶ndring eller andet afh√¶ngigt af, hvad man beder om.

In [13]:
# math

## Objekter/varaible

Python er et objekt-orienteret programmeringssprog. Dette indeb√¶rer, at man kontinuerligt arbejder med forskellige objekter, som indeholder en eller anden for for information.

I Python kaldes objekter ‚Äúvariable‚Äù. Dette er ikke at forveksle med en variabel, som forst√•et i statistik som en egenskab ved en observation, da en variabel i Python blot er en beholder for en eller anden form for information.

In [12]:
# objekt

## Funktioner

En central del af det at arbejde med et programmeringssprog er at bruge funktioner. Funktioner tager et eller flere input (kaldet ‚Äúargumenter‚Äù), foretager et eller andet med disse og returnerer (for det meste) et output.

Funktioner i Python har f√∏lgende format:

```
function(argument1, argument2, ...)
```

In [11]:
# funktion

## Metoder

Udover funktioner i Python findes der ogs√• ‚Äúmetoder‚Äù. Lig funktioner tager metoder ogs√• en form for input og returnerer et output.

I mods√¶tning til funktioner er metoder bundet op p√• bestemte variabeltyper. Det vil sige at variablen skal v√¶re en bestemt type for, at metoden kan bruges. Metoder kaldes med `variabel.method(option1 = something)`. Tekstv√¶rdier (strings) har fx en r√¶kke metoder tilknyttet til at √¶ndre teksten:

In [14]:
# method

## Pakker

Pakker i Python er samlinger af funktioner, metoder, v√¶rdier osv. Selvom man kan meget i Python, s√• n√•r man ikke s√¶rlig langt uden at importere pakker.

Funktioner, metoder, v√¶rdier osv. fra pakker kan nemt indl√¶ses ved at importere dem. S√• snart pakken er importeret, er pakkens indhold tilg√¶ngeligt.

In [15]:
# import

# √òVELSE 0: KAN PYTHON NOGET?

- Lav en notebook til denne lektion
- Lav en kodecelle
- Skriv kommandoen `print("hello there")` ind i cellen
- K√∏r cellen

# Data i Python

I dette f√∏rste kapitel tages et kig p√•, hvad data er for en st√∏rrelse, og hvordan et struktureret datas√¶t ser ud i Python.

# Data og datas√¶t

I disse Python lektioner gennemg√•s, hvordan Python anvendes til dataanalyse, men hvad er data overhovedet for noget?

Som udgangspunkt arbejder vi med en meget bred forst√•else af data: alle former for information om noget. Grunden til at der i dag er s√• meget snak om data, dataanalyse, maskinl√¶ring osv., er fordi at stadig mere og mere information digitaliseres, hvorfor det kan g√∏res til genstand for analyser.

Navn, alder, uddannelse, indkomst, yndlingsfilm, mest aflyttede sange i 2020, antal gange rejst med bus 2 i Aalborg, k√∏b i supermarkeder, st√∏rrelse p√• bolig, indbo, brug af el, varme og vand osv. Alle disse informationer er data og alt sammen kan indg√• i analyser til at sige noget om en person eller, mere relevant, flere personer med lignende karakteristika.

Data som en mere eller mindre tilf√¶ldig str√∏m af tilf√¶ldig information er vanskelig at arbejde med. Data skal p√• en eller anden m√•de v√¶re i system for, at det kan analyseres - det g√¶lder b√•de maskinel/computationel analyse eller menneskelig analyse.

N√•r man taler om et datas√¶t, mener man typisk en eller anden form for afgr√¶nset m√¶ngde data, der m√•ske eller m√•ske ikke er struktureret i en eller anden form.

## Struktureret og ustruktureret data

Man adskiller typisk mellem struktureret og ustruktureret data.

**Struktureret data**

*Struktureret data* er data, der p√• en eller anden m√•de er sat i system. Den klassiske repr√¶sentation af struktureret data er i et tabul√¶rt format, hvor hver r√¶kke indeholder en *observation* og hver kolonne indeholder en *variabel* (eller "feature", som det omtales inden for maskinl√¶ring. En observation kan v√¶re en person, et land, et firma, et tidspunkt, en kommune osv., mens en variabel er en eller anden form for information om observationen.

Tabellen herunder er et eksempel p√• struktureret data:

|Navn |Alder |Besk√¶ftigelse |
|-----|------|--------------|
|Lars | 34 | Slagter|
|Gertrud | 62 | R√•dgiver|
|Henning | 43 | Revisor|
|Agnes | 38 | T√∏mrer|

Struktureret data er kendeteget ved at v√¶re sat i system s√•dan, at man umiddelbart kan analysere og sp√∏rge data om noget. I ovenst√•ende tabel kan man fx meget hurtigt unders√∏ge, hvor mange der er √¶ldre end 40, hvem der har et fornavn der starter med "H" eller hvem der har besk√¶ftigelse inden for byggeri.

**Ustruktureret data**

*Ustruktureret data* er data, som - kort sagt - ikke er sat i system. Hvis data ikke er struktureret, vil man typisk kalde det ustruktureret data. Tekst, billeder og video er typiske eksempler p√• ustruktureret data, da disse blot er r√• information uden nogen m√•de at adskille en type information fra en anden. Mange moderne dataanalyseteknikker fokuserer p√• ustruktureret data, hvor man enten udvikler teknikker til at skabe overblik over ustruktureret data eller fors√∏ger at give data en form for struktur.

Nedenst√•ende er et eksempel p√• ustruktureret data:

```
["Hvorfor g√•r man ikke i dialog med ‚Å¶@DRC_dk‚Å© i stedet for at opsige kontrakten uden varsel. Er det kun for at f√∏re st√¶rk mand politik? DRC yder en fremragende indsats p√• baggrund af den opgave de har f√•et #dkpol https://jyllands-posten.dk/indland/ECE12248020/tesfaye-forsoeger-sig-med-en-ny-loesning-paa-alle-udlaendingeministres-problem/¬†‚Ä¶",
"Alle t√¶ller ‚ù§Ô∏è https://twitter.com/cekicozlem/status/1276034922587832326¬†‚Ä¶",
"Det er s√• godt arbejdeüíö https://twitter.com/fannybroholm/status/1275360842847080449¬†‚Ä¶",
"Tilfreds med den klima og energiaftale, der er lavet nu. Det er den f√∏rste delaftale om at n√• 70% reduktion i 2030. S√¶rligt glad for at den indeholder principaftale om en CO2 afgiftsreform #dkpol #dkgreen pic.twitter.com/3slrMxLT5B",
"Godt f√∏rste skridt for den fri natur #dkpol #dkgreen ‚Å¶@alternativet_‚Å© https://www.altinget.dk/miljoe/artikel/wermelin-lander-aftale-om-de-foerste-naturnationalparker¬†‚Ä¶",
"Sp√¶ndende udmelding. ‚Å¶@alternativet_‚Å© √∏nsker ogs√• en gr√∏n   Klimaafgift, hvor udgangspunktet er at forureneren betaler #dkgreen #dkpol https://www.altinget.dk/artikel/venstre-og-radikale-laegger-faelles-pres-paa-regeringen-vil-have-ensartet-co2-afgift?SNSubscribed=true&ref=newsletter&refid=fredag-middag-190620&utm_campaign=altingetdk%20Altinget.dk&utm_medium%09=e-mail&utm_source=nyhedsbrev¬†‚Ä¶",
"S√• vigtigt at KL tager ansvar for den proces #dkpol #dkgreen https://www.altinget.dk/miljoe/artikel/professor-om-affaldsaftale-kl-og-kommunerne-skal-gribe-chancen-for-at-loese-tingene-selv¬†‚Ä¶",
"Hurra - stor dag for Danmarküíöüëèüèºüëèüèº https://twitter.com/alternativet_/status/1273555055476723713¬†‚Ä¶",
"Til klimaforhandlinger i Finansministeriet. Vi sidder og diskuterer rammerne - de n√¶ste dage bliver intensive #dkpol #dkgreen @alternativet_ @ Christiansborg Palace  https://www.instagram.com/p/CBi3d0oB9lB/?igshid=ii78cjnx2n72¬†‚Ä¶",
"Aftale om mindre affald, mindre forbr√¶nding og mere genbrug - god dag for klimaet og milj√∏et. 1. skridt i en stor milj√∏pakke #dkpol ‚Å¶@alternativet_‚Å© https://www.dr.dk/nyheder/indland/live-regeringen-praesenterer-ny-aftale-om-affald¬†‚Ä¶"]
```

I ovenst√•ende kan man stadig overf√∏re ideen om observationer (i dette tilf√¶lde tweets fra danske politikere), men der er ingen variable eller features givet p√• forh√•nd. Der er derfor ingen umiddelbar struktur at g√∏re brug af for at foretage sig analyser.

## Fra data til dataanalyse

Uanset om data er struktureret eller ustruktureret, er de n√¶sten aldrig klar til at analysere med det samme. Data skal n√¶sten altid tilpasses den analyse, som man √∏nsker at foretage og de sp√∏rgsm√•l, som man √∏nsker at f√• svar p√• med sin analyse. 

For struktureret data indeb√¶rer dette at f√• identificeret de relevante dele af sine data (er det fx alle observationer, der er relevante?) samt unders√∏ge og rekode variable s√•dan, at de meningsfuldt kan bruges i sin analyse.

For ustruktureret data indeb√¶rer det p√• en eller anden m√•de at f√• sat system i eller skabt overblik over data.

Ofte vil man ogs√• arbejde med data fra flere kilder, hvorfor en del forarbejde ogs√• kan g√• med at f√• data kombineret i et samlet datas√¶t.

---
## VIDENSCHECK

*Hvilke af nedenst√•ende er eksempler p√• datas√¶t?:*

* Navnet p√• butikschefen i det lokale supermarked
* Alle v√¶rker af H.C. Andersen
* En oversigt over medlemmer af DF√òJ med information om navn, f√∏dsels√•r, arbejdssted og uddannelse
* Filmen "Vampire's Kiss" med Nicolas Cage fra 1988
* Et kontoudtog
* Alle film med Nicolas Cage

# Introduktion til pandas

Pakken `pandas` (https://pandas.pydata.org/) er et Python bibliotek til datah√•ndtering og dataanalyse. Pandas egner sig s√¶rligt til data i tabeller struktureret i r√¶kker og kolonner. En datatabel kaldes inden for pandas en "DataFrame"; et bestemt Python objekt specifikt til at lagre og bearbejde data i tabeller.

Denne lektion gennemg√•r diverse basale funktioner til at indl√¶se, udforske og h√•ndtere en pandas DataFrame. Se ogs√• den officielle dokumentation for flere guides, introduktioner og beskrivelser til at arbejde med pandas: https://pandas.pydata.org/docs/

## Indl√¶s data med `pandas`

`pandas` pakken indeholder funktioner til at indl√¶se data i forskellige formater; herunder CSV, JSON, Excel, Stata, SAS osv.

I det nedenst√•ende indl√¶ses pandas biblioteket, hvorefter datas√¶ttet "ESS2014DK_subset.csv" indl√¶ses. Biblioteket `numpy` indl√¶ses ogs√•, da det indeholder en r√¶kke brugbare funktioner til at foretage beregninger p√• pandas dataframes:

In [2]:
import pandas as pd

#ess2018 = pd.read_csv('')

*Bem√¶rk importkonventionerne for `pandas`. `pandas` typisk som `pd`.*

### Om datas√¶ttet
Datas√¶ttet, som indl√¶ses her, er et uddrag af datas√¶ttet fra European Social Survey (ESS) 2014. ESS er en europ√¶isk surveyunders√∏gelse, der gentages hvert andet √•r. Surveyet behandler sp√∏rgsm√•l om folks helbred, besk√¶ftigelse, politiske holdninger, tillid osv. I dette uddrag er der kun inkluderet de danske respondenter og et mindre udpluk variable.

Subsettet af ESS 2014 indeholder f√∏lgende kolonner:
- `idno`: Personens id-numre/respondentn√∏gle
- `ppltrst`: Personens vurdering p√• en skala fra 0-10 af, hvor meget de stoler p√• andre mennesker
- `happy`: Personens vurdering p√• en skala fra 0-10 af, hvor glade de f√∏ler sig
- `health`: Personens vurdering af eget helbred fra "Very bad" til "Very good"
- `cgtsday`: Antal cigaretter personen ryger om dagen
- `alcfreq`: Hvor ofte personen drikker alkohol
- `height`: Personens h√∏jde i centimeter
- `weight`: Personens v√¶gt i kilo
- `gndr`: Personens k√∏n (mand/kvinde)
- `yrbrn`: Personens f√∏dsels√•r

## Inspicer data med `pandas`

Datas√¶ttet er nu indl√¶st som et dataframe objekt i Python, som man kan interagere med. 

Metoden `.head()` printer de f√∏rste fem r√¶kker af datas√¶ttet:

In [4]:
#ess2018.head()

Dataframes er et tabul√¶rt dataformat. N√•r en fil indl√¶ses som en pandas dataframe, skal filen derfor v√¶re i et format, der kan konverteres til tabelformat (data i r√¶kker og kolonner).

I dette datas√¶t udg√∏r observationerne (r√¶kkerne) enkeltpersoner, som har besvaret sp√∏rgeskemaet. De enkelte kolonner indeholder oplysninger om de enkelte personer. 
Af ovenst√•ende print af de f√∏rste fem r√¶kke kan man fx l√¶se, at personen i r√¶kke 4 (r√¶kkeindeks 3) er en kvinde f√∏dt i 1958, som er 162 cm h√∏j.

**NaN?**

Som det ses af datas√¶ttet fremg√•r v√¶rdien `NaN` flere gange i datas√¶ttet (s√¶rligt under kolonnen `cgtsday`). 

`NaN` angiver missingv√¶rdi. En missingv√¶rdi er en ikke-gyldig v√¶rdi; fx hvis en person ikke svarer, informationen ikke har v√¶ret muligt at skaffe eller andet.

### Kolonner/variable 

En dataframe best√•r af en samling af kolonner. En kolonne i en dataframe kaldes en `series`.

Navnene p√• kolonnerne, som en dataframe indeholder, kan ses af attributen `.columns`:

In [5]:
#ess2018.columns

## Inspicer variable

En enkelt variabel/kolonne i datas√¶ttet referes til med `[]`:

In [6]:
#ess2018[''].head()

Vi kan bruge en metode som `.value_counts()` til at opt√¶lle v√¶rdierne inden for √©n kolonne:

In [1]:
#ess2018[''].value_counts()

Med funktionen `pd.crosstab()` kan vi opsummere over to variable:

# √òVELSE 1: INDL√ÜS DATA OG INSPICER VARIABLE

1. Indl√¶s datas√¶ttet "", hvis du ikke allerede har gjort det.
2. Tjek at datas√¶ttet er indl√¶st korrekt med `.head()`
3. Brug `.value_counts()` til at finde ud af, hvor mange af respondenterne...

# Visualisering med `pandas`

`pandas` dataframes har en r√¶kke indbyggede metoder til at plotte enkelte variable. 

Vi kan fx bruge metoden `.plot.hist()` til at lave et histogram:

In [2]:
# ess2014['height'].plot.hist(bins = 30)

`.plot.box()` kan bruges til boxplots.

In [3]:
#ess2014['height'].plot.box()

`.plot.bar()` kan bruges til kategoriske variable for at lave s√∏jlediagrammer:

In [4]:
#ess2014['height'].plot.bar()

Alternativt en pie-chart med `.plot.pie()`. Denne kan med fordel kombineres med `.value_counts()`:

In [5]:
#ess2014['health_3cats'].value_counts().plot.pie()

## Visualisering med `seaborn` 

Der findes forskellige pakker til at lave visualisering i Python. En meget popul√¶r pakke er `seaborn`: https://seaborn.pydata.org/

Med `seaborn` kan man relativt nemt lave visualiseringer over flere variable. 

I `seaborn` dannes plots ved f√∏rst at refere specifikt til den plotting funtkion, som man vil bruge, og derefter specificere data.

Nedenst√•ende linje danner et scatterplot for X og Y. Ved `seaborn` plottingfunktioner specificeres, hvilke v√¶rdier der skal udg√∏re x-aksen og hvilke, der skal udg√∏re y-aksen. `seaborn` forventer typisk series, s√• man kan specificere series direkte i funktionerne. Dog kan man ogs√•, som i nedenst√•ende, specificere kolonne/variabelnavne og til sidst specificere data med argumentet `data = `:

In [7]:
#sns.scatterplot(data = ess2014, x = 'height', y = 'weight')

Et scatterplot danner en prik for hver observations placering p√• to variable. Plottet egner sig derfor s√¶rdeles godt til at udforske umiddelbare sammenh√¶nge (om en variabel er besl√¶gtet med en anden).

# √òVELSE 2: VISUALISERING AF DATA

1. Dan et histogram over variablen ""
2. Dan et s√∏jlediagram over variablen ""

# Deskriptive m√•l

√ân m√•de at udforske et datas√¶t er ved at se n√¶rmere p√• forskellige deskriptive m√•l for variable i datas√¶ttet.

Metoden `.describe()` danner deskriptive m√•l for alle (kompatible) variable i datas√¶ttet:

In [18]:
#ess2014.describe()

                idno     cgtsday      height      weight        yrbrn
count     751.000000  166.000000  749.000000  740.000000   751.000000
mean   935322.402130   11.397590  174.158879   76.178108  1966.324900
std      8431.191754    7.994604    9.656126   15.597381    18.982895
min    921034.000000    0.000000  148.000000   43.000000  1914.000000
25%    928073.000000    5.000000  167.000000   65.000000  1952.000000
50%    935251.000000   10.000000  174.000000   74.500000  1966.000000
75%    942260.000000   17.750000  181.000000   85.000000  1982.000000
max    950508.000000   40.000000  203.000000  135.000000  1999.000000

Metoden fungerer ogs√• p√• enkeltvariable:

In [8]:
#ess2014['weight'].describe()

`.describe()` danner f√∏lgende m√•l:
- `count`: Antal svar ekskl. missing
- `mean`: Middelv√¶rdien
- `std`: Standardafvigelsen
- `min`: Minimumv√¶rdien
- `25%`: 1. kvartil
- `50%`: 2. kvartil
- `75%`: 3. kvartil
- `max`: Maksimumv√¶rdien

Der knytter sig ogs√• en r√¶kke metoder til at danne de enkelte deskriptive m√•l.

Herunder printes fx middelv√¶rdien, standardafvigelsen, minimums- og maksimumsv√¶rdien for variablen `weight`:

In [22]:
print(ess2014['weight'].mean())
print(ess2014['weight'].std())
print(ess2014['weight'].min())
print(ess2014['weight'].max())

76.17810810810812
15.597381262076514
43.0
135.0

Ovenst√•ende v√¶rdier fort√¶ller, at `weight` indeholder v√¶rdier fra 38.0 til 137.0 med en middelv√¶rdi p√• 75.86 og en standardafvigelse p√• 15.59 (middelv√¶rdien af de afstande, som hver observation afviger fra middelv√¶rdien).

## Deskriptive m√•l og kategoriske variable

Sammenlignes outputtet fra `.describe()` med indholdet af datas√¶ttet ses, at der ikke udregnes deskriptive m√•l for alle variable. 

N√•r `.describe()` bruges p√• et hel dataframe, udregnes kun m√•l for numeriske variabeltyper; alts√• variable, der kun best√•r af tal.

Metoden kan dog ogs√• bruges p√• en kategorisk variabel som `ppltrst`:

In [24]:
ess2014['ppltrst'].describe()

count     749
unique     11
top         8
freq      230
Name: ppltrst, dtype: object

**Hvorn√•r er en variabel kategorisk?**

Det kan m√•ske give anledning til undren, hvorfor der fx ikke kan beregnes en middelv√¶rdi af `ppltrst`, da variablen umiddelbart indeholder tal:

In [25]:
ess2014['ppltrst'].head()

0                             4
1    Most people can be trusted
2                             5
3                             8
4                             4
Name: ppltrst, dtype: object

Ved et n√¶rmere kig viser det sig dog, at variablen ogs√• indeholder tekstv√¶rdier.

`.unique()` returnerer de unikke v√¶rdier i variablen:

In [26]:
ess2014['ppltrst'].unique()

array(['4', 'Most people can be trusted', '5', '8', '7', '9', '2', '6',
       '3', "You can't be too careful", '1', nan], dtype=object)

Af ovenst√•ende ses, at variablen indeholder tekstv√¶rdierne "Most people can be trusted" (svarende til 10 p√• skalaen) og "You can't be too careful" (svarende til 0 p√• skalaen).

Hvis der skal udregnes middelv√¶rdi p√• denne variablen, skal v√¶rdierne f√∏rst konverteres om til numeriske v√¶rdier (mere om dette senere).

## Opsummeringer p√• gruppeniveau: Groupby

En effektiv m√•de at udforske og udf√∏re indledende deskriptive analyser af sine data, er ved at unders√∏ge de grupperinger, som data indeholder.

Her skal vi se p√• nogen forskellige m√•der, hvor der kan udregnes deskriptive m√•l og dannes visualiseringer for grupper i data

Vi starter med at indl√¶se de n√∏dvendige pakker og data. Aldersvariablen (som ogs√• blev tilf√∏jet i lektion 3) tilf√∏jes igen:

## Brug af split-apply til at opsummere data

Metoden `.groupby()` grupperer datas√¶t efter de givne variable:

In [ ]:
grouped_df = df.groupby(['gndr'])

Selve objektet, som bliver dannet, indeholder ikke information, der bare kan kaldes frem direkte:

In [ ]:
grouped_df

Dog kan vi danne de samme deskriptive m√•l, som vi kan for hele datas√¶ttet, men hvor de opsummeres p√• gruppeniveauet:

In [ ]:
grouped_df.mean()

Det samme kan g√∏res for enkeltvariable:

In [ ]:
grouped_df['height'].mean()

En lang r√¶kke metoder kan bruges p√• grupperede data. Se dem alle her: https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html.

- `mean()`: Middelv√¶rdi for grupperne

- `size()`: St√∏rrelse af grupperne

- `count()`: T√¶llinger inden for grupperne

- `describe()`: Deskriptive m√•l inden for grupperne

- `min()`: Minimum for grupperne

- `max()`: Maximum for grupperne

Metoden `value_counts()` kan bruges til at lave opt√¶llinger af kategoriske inden for grupperne.

Herunder laves opt√¶lling for variablen `health` fordelt p√• k√∏n:

In [ ]:
grouped_df['health'].value_counts()

# √òVELSE 3: Deskriptive m√•l

1. Brug `.describe()` eller passende numpy kommandoer til at finde ud af f√∏lgende:

- Hvor gammel er den yngste person i datas√¶ttet?
- Hvor gammel er den √¶ldste person i datas√¶ttet?
- Hvad er gennemsnitsalderen i datas√¶ttet?

- *Husk at datas√¶ttet er fra 2018.*


2. Brug `.groupby()` til at finde ud af om...

## Visualisering af grupperinger

Grupperede data og opt√¶llinger af grupperede data kan plottes direkte:

In [ ]:
grouped_df['health'].value_counts().plot.bar()

Ovenst√•ende plot er ikke s√• k√∏nt. Fx kunne det give mening at farvel√¶gge efter v√¶rdierne i `health`. Det kan g√∏res ved at bruge metoden `unstack()` og s√• danne plottet:

In [ ]:
grouped_df['health'].value_counts().unstack('health').plot.bar()

### Sidenote: Hvad g√∏r `unstack`?

`unstack()` er en metode, der bruges til s√•kaldt "wide"-konvertering.

Hvis vi f√∏rst ser p√• `value_counts()`, gives t√¶llinger i long format; alts√• hvor hver r√¶kke er en opt√¶lling, og opt√¶llingerne differentieres med en kolonne (`health`).

In [ ]:
grouped_df['health'].value_counts()

`unstack()` tager v√¶rdierne fra `health` og laver dem til kolonner. P√• den m√•de dannes der kun √©n r√¶kke per gruppe, hvor v√¶rdier adskilles i kolonnerne (wide-format):

In [ ]:
grouped_df['health'].value_counts().unstack('health')

N√•r s√•dan en tabel plottes med `.plot.bar()` farvel√¶gges der efter kolonnev√¶rdierne automatisk.

In [ ]:
grouped_df['health'].value_counts().unstack('health').plot.bar()

# √òVELSE 4: VISUALISER GRUPPERINGER

Dan en visualisering, der viser...

# Hvordan er dataframes opbygget?

Lad os se n√¶rmere p√•, hvordan en dataframe er opbygget.

Kort sagt best√•r dataframes af r√¶kker (index) og kolonner (series).

## Kolonner (`Series`) i en dataframe

En pandas `Series` er en en-dimensionel datastruktur; svarende til en kolonne eller en variabel.

En enkelt `Series` kan lagres som sit eget objekt. Hermed kan vi se, at typen √¶ndrer sig fra "dataframe" til "series".

### Series og metoder

Bem√¶rk, at mange af de metoder, som vi har brugt indtil videre, bliver kaldt p√• en enkelt variabel (`Series`), og ikke et helt datas√¶t.

Husk at Python metoder er relateret til bestemte objekter. N√•r man bruger fx metoder, s√• v√¶r opm√¶rksom p√•, om I fors√∏ger at g√∏re det p√• et helt datas√¶t eller en enkelt `Series`.

### Series og Python lister

`Series` er p√• mange m√•der kompatible med Python lister. Python lister er en grundl√¶ggende datastruktur, som kan v√¶re brugbar i mange sammenh√¶nge.

Man kan altid tvinge en `Series` om til at v√¶re en liste med funktionen `list()`:

In [ ]:
list()

Omvendt kan man ogs√• tvinge en liste om til at v√¶re en `Series` med `pd.Series`.

In [ ]:
pd.Series()

## Index i en dataframe

Et "indeks" er en generel betegnelse i Python for v√¶rdiers ID, s√• at sige.

I en dataframe bruges index til at referere til r√¶kkenavnene. Disse kan ses af `.index`:

In [9]:
#ess2018.index.head()

Index i Python starter ved 0. Den f√∏rste r√¶kke i en dataframe har derfor index 0.

Et index beh√∏ver dog ikke v√¶re r√¶kkenumre, da man altid kan √¶ndre index-v√¶rdierne.

### Index i groupby

Husk at vi ofte arbejder med mange objekter p√• en gang i Python. N√•r vi fx bruger `.groupby()` f√•r vi returneret et groupby objekt, uden at √¶ndre p√• det oprindelige data.

N√•r s√• vi bruger en metode som fx `.value_counts` p√• et groupby objekt, s√• f√•r vi en ny datastruktur returneret. Denne ligner en dataframe, men faktisk er det blot en enkelt kolonne (`Series`) med et index, der refererer til de forskellige grupperinger.

### Index i en `Series`

I en enkelt `Series`, kan man refere til et bestemt index med `[]` (ligesom ved en Python liste):

In [10]:
#[]

# Subsetting

"Subsetting" vil sige at udv√¶lge specifikke dele af data.

Man subsetter pandas med metoderne `.loc()` og `.iloc()`. `.loc()` bruges til at subsette ud fra r√¶kke- og kolonnenavne, mens `.iloc()` bruges til at subsette ud fra r√¶kke- og kolnneindeks.

Format for subsetting: `data.loc[r√¶kker, kolonner]`

Selekter bestemte r√¶kker:

In [37]:
ess2014.loc[2:10, :]

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn
2,939019,5,8,Good,3.0,Once a week,182.0,90.0,Male,1980
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946
4,925410,4,8,Bad,NaN,Several times a week,156.0,60.0,Female,1969
5,928947,5,Extremely happy,Good,20.0,Every day,167.0,75.0,Male,1950
6,947921,7,8,Good,NaN,Less than once a month,169.0,63.0,Female,1980
7,926953,Most people can be trusted,8,Good,NaN,Once a month,184.0,73.0,Male,1940
8,943553,8,8,Good,NaN,Once a week,182.0,86.0,Male,1971
9,936299,8,9,Very good,8.0,Several times a week,172.0,73.0,Female,1965
10,943317,9,9,Very good,NaN,Once a month,178.0,72.0,Male,1989

Selekter bestemte kolonner (specificeres som en liste):

In [38]:
ess2014.loc[:, ['gndr', 'alcfreq']].head()

     gndr               alcfreq
0  Female                 Never
1  Female  Several times a week
2    Male           Once a week
3    Male           Once a week
4  Female  Several times a week

Selekter bestemte r√¶kker og kolonner:

In [39]:
ess2014.loc[2:10, ['gndr', 'alcfreq']]

      gndr                 alcfreq
2     Male             Once a week
3     Male             Once a week
4   Female    Several times a week
5     Male               Every day
6   Female  Less than once a month
7     Male            Once a month
8     Male             Once a week
9   Female    Several times a week
10    Male            Once a month

Selekter ud fra kolonneindeks:

In [43]:
ess2014.iloc[2:10, [8, 5]]

     gndr                 alcfreq
2    Male             Once a week
3    Male             Once a week
4  Female    Several times a week
5    Male               Every day
6  Female  Less than once a month
7    Male            Once a month
8    Male             Once a week
9  Female    Several times a week

Bem√¶rk at datas√¶t ikke √¶ndres. Hvis subset skal gemmes, skal det gemmes i et nyt objekt (ny dataframe):

In [44]:
ess2014_subset = ess2014.loc[2:10, ['gndr', 'alcfreq']]

ess2014_subset.head()

     gndr                 alcfreq
2    Male             Once a week
3    Male             Once a week
4  Female    Several times a week
5    Male               Every day
6  Female  Less than once a month

## Subsetting med booleans (logiske v√¶rdier)

I stedet for at specificere indeksnumrene, kan man i stedet specificere betingelser:

In [45]:
ess2014.loc[ess2014['height'] > 180, :].head()

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn
2,939019,5,8,Good,3.0,Once a week,182.0,90.0,Male,1980
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946
7,926953,Most people can be trusted,8,Good,NaN,Once a month,184.0,73.0,Male,1940
8,943553,8,8,Good,NaN,Once a week,182.0,86.0,Male,1971
14,947086,8,7,Very good,NaN,Once a week,186.0,84.0,Male,1964

In [46]:
ess2014.loc[(ess2014['height'] > 180) & (ess2014['gndr'] == 'Female'), :].head()

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn
219,931833,8,9,Very good,NaN,Once a week,184.0,70.0,Female,1993
263,948529,8,9,Very good,NaN,2-3 times a month,181.0,78.0,Female,1972
581,941739,9,9,Good,NaN,Several times a week,184.0,62.0,Female,1984
616,927771,8,Extremely happy,Good,NaN,Once a month,181.0,63.0,Female,1984
651,948294,Most people can be trusted,Extremely happy,Very good,NaN,Less than once a month,182.0,117.0,Female,1968

# √òVELSE 5: SUBSETTING

*Dan et subet best√•ende af ...*

# Nye variable

Ofte har man brug for at tilf√∏je oplysninger til et datas√¶t i form af nye variable.

Man danner en ny variabel blot ved at referere til et kolonnenavn, som endnu ikke er brugt.

I nedenst√•ende dannes ...:

In [48]:
ess2014['height_m'] = ess2014['height'] / 100

ess2014.head()

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn,height_m
0,921490,4,Extremely happy,Very good,NaN,Never,167.0,62.0,Female,1965,1.67
1,938348,Most people can be trusted,7,Good,NaN,Several times a week,168.0,70.0,Female,1973,1.68
2,939019,5,8,Good,3.0,Once a week,182.0,90.0,Male,1980,1.82
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946,1.88
4,925410,4,8,Bad,NaN,Several times a week,156.0,60.0,Female,1969,1.56

## Rekodning

Ofte har man brug for at rekode variable.

Variable rekodes ved at overskrive v√¶rdier i en eksisterende variabel.

Det er god praksis ikke at rekode de oprindelige variable i datas√¶ttet, s√• man vil i stedet lave en kopi af variablen og s√• rekode den i stedet.

Hvis man fx vil rekode en kontinuerlig variabel til kategorisk, kan man g√∏re brug af booleans. 

I nedenst√•ende inddeles personer i datas√¶ttet i tre h√∏jde kategorier baseret p√•, om de har en h√∏jde under 1. kvartil ("short"), over 3. kvartil ("tall") eller midt imellem ("medium").

In [50]:
quart1 = ess2014['height'].quantile(0.25)
quart3 = ess2014['height'].quantile(0.75)

ess2014['height_cat'] = np.nan # Danner en "tom" variabel best√•ende af missing

ess2014.loc[ess2014['height'] <= quart1, 'height_cat'] = "short"
ess2014.loc[(ess2014['height'] > quart1) & (ess2014['height'] < quart3), 'height_cat'] = "medium"
ess2014.loc[ess2014['height'] >= quart3, 'height_cat'] = "tall"

ess2014.head(10)

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn,height_m,age,height_cat
0,921490,4,Extremely happy,Very good,NaN,Never,167.0,62.0,Female,1965,1.67,49,short
1,938348,Most people can be trusted,7,Good,NaN,Several times a week,168.0,70.0,Female,1973,1.68,41,medium
2,939019,5,8,Good,3.0,Once a week,182.0,90.0,Male,1980,1.82,34,tall
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946,1.88,68,tall
4,925410,4,8,Bad,NaN,Several times a week,156.0,60.0,Female,1969,1.56,45,short
5,928947,5,Extremely happy,Good,20.0,Every day,167.0,75.0,Male,1950,1.67,64,short
6,947921,7,8,Good,NaN,Less than once a month,169.0,63.0,Female,1980,1.69,34,medium
7,926953,Most people can be trusted,8,Good,NaN,Once a month,184.0,73.0,Male,1940,1.84,74,tall
8,943553,8,8,Good,NaN,Once a week,182.0,86.0,Male,1971,1.82,43,tall
9,936299,8,9,Very good,8.0,Several times a week,172.0,73.0,Female,1965,1.72,49,medium

Alternativt, hvis der bare skal deles i tre lige store grupper:

In [51]:
ess2014['height_cat'] = pd.cut(ess2014['height'], 3, labels = ["short", "medium", "tall"])

ess2014.head(10)

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn,height_m,age,height_cat
0,921490,4,Extremely happy,Very good,NaN,Never,167.0,62.0,Female,1965,1.67,49,medium
1,938348,Most people can be trusted,7,Good,NaN,Several times a week,168.0,70.0,Female,1973,1.68,41,medium
2,939019,5,8,Good,3.0,Once a week,182.0,90.0,Male,1980,1.82,34,medium
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946,1.88,68,tall
4,925410,4,8,Bad,NaN,Several times a week,156.0,60.0,Female,1969,1.56,45,short
5,928947,5,Extremely happy,Good,20.0,Every day,167.0,75.0,Male,1950,1.67,64,medium
6,947921,7,8,Good,NaN,Less than once a month,169.0,63.0,Female,1980,1.69,34,medium
7,926953,Most people can be trusted,8,Good,NaN,Once a month,184.0,73.0,Male,1940,1.84,74,medium
8,943553,8,8,Good,NaN,Once a week,182.0,86.0,Male,1971,1.82,43,medium
9,936299,8,9,Very good,8.0,Several times a week,172.0,73.0,Female,1965,1.72,49,medium

## Missingv√¶rdier

Missing v√¶rdier er angivet med `NaN`. Man kan unders√∏ge, om en variabel indeholder missing, ved at bruge metoden `isnull()`:

In [52]:
ess2014['cgtsday'].isnull().head()

0     True
1     True
2    False
3     True
4     True
Name: cgtsday, dtype: bool

Denne kan ogs√• bruges i `.loc[]`:

In [53]:
ess2014.loc[ess2014['cgtsday'].isnull(), :].head()

,idno,ppltrst,happy,health,cgtsday,alcfreq,height,weight,gndr,yrbrn,height_m,age,height_cat
0,921490,4,Extremely happy,Very good,NaN,Never,167.0,62.0,Female,1965,1.67,49,medium
1,938348,Most people can be trusted,7,Good,NaN,Several times a week,168.0,70.0,Female,1973,1.68,41,medium
3,924985,8,9,Very good,NaN,Once a week,188.0,85.0,Male,1946,1.88,68,tall
4,925410,4,8,Bad,NaN,Several times a week,156.0,60.0,Female,1969,1.56,45,short
6,947921,7,8,Good,NaN,Less than once a month,169.0,63.0,Female,1980,1.69,34,medium

---
# √òVELSE 6: NYE VARIABLE OG REKODNING

*Tilf√∏j en aldersvariabel til ESS2014DK datas√¶ttet (husk at data er fra 2018)*
 
*Dan en variabel, der angiver...*